/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  min-height: 100vh;
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.cart-modal .confirm-order-button, .order-button, header .search-container button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #400000;
  letter-spacing: 1px;
  background-color: #ff7800;
  border-color: #ff7800;
  border-radius: 5px;
  padding: 5px 8px;
  cursor: pointer;
}
.cart-modal .confirm-order-button:focus, .order-button:focus, header .search-container button:focus, .cart-modal .confirm-order-button:hover, .order-button:hover, header .search-container button:hover {
  background-color: rgba(255, 120, 0, 0.5);
}

#root {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #800000;
  background-color: #edbb99;
  height: 100vh;
}

a {
  color: #400000;
}

.no-available-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 28px;
  text-align: center;
  color: #400000;
}

header {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  justify-content: space-around;
  background-color: #f8c471;
  min-height: 120px;
  box-sizing: border-box;
  padding: 20px;
}
header .logo-link {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-align: left;
  color: #400000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 0;
}
header .logo-link .cocktail-icon {
  width: 50px;
  height: 50px;
}
header .search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 20px;
}
header .search-container input {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #800000;
  width: 280px;
  box-sizing: border-box;
  padding: 5px 8px;
}
header .cart-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-end;
  flex-wrap: nowrap;
  gap: 0;
}
header .cart-container .fa-shopping-cart {
  font-size: 28px;
  color: #800000;
  cursor: pointer;
}
header .cart-container .fa-shopping-cart:focus, header .cart-container .fa-shopping-cart:hover {
  color: #400000;
}
header .cart-container .bubble-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 0;
  background-color: rgba(255, 120, 0, 0.85);
  min-width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  top: -15px;
  right: -15px;
}
header .cart-container .bubble-icon span {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-align: left;
  color: #400000;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 0;
  min-height: calc(100vh - 240px);
  background-color: #edbb99;
  padding: 100px 20px;
}

.cocktail-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 20px;
  cursor: pointer;
}
.cocktail-information img {
  width: 400px;
  border-radius: 10px;
}
.cocktail-information h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  color: #400000;
}
.cocktail-information .cocktail-details {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 30px;
  width: 100%;
}
.cocktail-information .cocktail-details h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #800000;
}
.cocktail-information .cocktail-details p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-align: left;
  color: #800000;
}
.cocktail-information .cocktail-details p span {
  font-weight: 500;
}

.order-button {
  font-size: 18px;
}

.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 50px;
}
.main-page h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  color: #400000;
  margin-bottom: 20px;
}
.main-page .random-cocktail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 30px;
  border: 2px solid #400000;
  border-radius: 10px;
  padding: 20px;
  position: relative;
  min-width: 200px;
}
.main-page .random-cocktail .recommendation-label {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 0;
  background-color: #DE3163;
  padding: 10px;
  position: absolute;
  top: 5px;
  right: 8px;
  left: 8px;
  border-radius: 10px;
}
.main-page .random-cocktail .recommendation-label span {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: #fff;
}
.main-page .random-cocktail a {
  margin-top: 30px;
}
.main-page .random-cocktail .cocktail-information p {
  padding-left: 20px;
}

.cocktails-list {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 1500px;
}
.cocktails-list li {
  border: 2px solid #400000;
  border-radius: 10px;
  padding: 20px;
  max-width: 300px;
}
.cocktails-list li .cocktail-information img {
  width: 300px;
}

.cocktail-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 50px;
}
.cocktail-page h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #800000;
  margin-bottom: 30px;
}
.cocktail-page .cocktail-ingredients-container {
  max-width: 400px;
}
.cocktail-page .cocktail-information {
  gap: 40px;
}
.cocktail-page .cocktail-information .cocktail-details {
  align-items: flex-start;
  width: 100%;
  margin-bottom: 50px;
}
.cocktail-page .cocktail-information .cocktail-details h3 {
  align-self: center;
  margin-bottom: 10px;
}
.cocktail-page .cocktail-ingredients {
  width: 100%;
}
.cocktail-page .cocktail-ingredients ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 20px;
}
.cocktail-page .cocktail-ingredients ul li {
  font-size: 18px;
}
.cocktail-page .cocktail-instructions p {
  line-height: 24px;
  max-width: 800px;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 0;
  background-color: #f8c471;
  min-height: 120px;
  box-sizing: border-box;
  padding: 20px;
}
footer ul {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 20px;
  text-align: left;
  color: #400000;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(192, 192, 192, 0.8);
}

.cart-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 30px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f8c471;
  border: 2px solid #ff7800;
  border-radius: 10px;
  padding: 20px;
  max-height: 600px;
  padding-top: 40px;
  box-sizing: border-box;
  overflow-y: auto;
  box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.5);
}
.cart-modal .cart-close-butoon,
.cart-modal .cocktail-delete-button {
  position: absolute;
  width: 25px;
  height: 25px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 0;
}
.cart-modal .cart-close-butoon {
  top: 10px;
  right: 10px;
  border: 2px solid #400000;
  border-radius: 5px;
  padding: 10px;
  border-width: 1px;
}
.cart-modal .cocktails-list {
  margin-top: 30px;
}
.cart-modal .cocktails-list li {
  max-width: 250px;
  position: relative;
}
.cart-modal .cocktails-list li .cocktail-information img {
  width: 250px;
}
.cart-modal .cocktails-list li .cocktail-delete-button {
  top: 5px;
  right: 5px;
  border: 2px solid #ff7800;
  border-radius: 50%;
  padding: 5px;
}
@media (max-width: 768px) {
  header {
    grid-template-columns: auto auto;
    gap: 30px;
  }
  header .search-container {
    grid-area: 2/1/span 1/span 2;
    justify-self: center;
  }
  .main-page h1 {
    font-size: 28px;
  }
  .cocktail-information img {
    width: 300px;
  }
}
@media (max-width: 425px) {
  header .search-container {
    flex-direction: column;
  }
  .cocktail-information img {
    width: 250px;
  }
  .cocktails-list li .cocktail-information img {
    width: 250px;
  }
  .cocktail-page .cocktail-information img {
    width: 300px;
  }
  .cart-modal .cocktails-list li .cocktail-information img {
    width: 200px;
  }
}

/*# sourceMappingURL=index.css.map */
