@use './reset';

// -------------------------------------- Variables --------------------------------------

$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;

$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-24: 24px;
$font-size-28: 28px;
$font-size-30: 30px;

$text-color: #800000;
$white-color: #fff;
$black-color: #000;
$background-color: #edbb99;
$second-background-color: #f8c471;

$brown-color: #400000;
$orange-color: #ff7800;

// --------------------------------------- Mixins ---------------------------------------

@mixin flex-property($gap: 0, $flex-direction: row, $align-items: stretch, $justify-content: flex-start, $flex-wrap: nowrap) {
    display: flex;
    flex-direction: $flex-direction;
    align-items: $align-items;
    justify-content: $justify-content;
    flex-wrap: $flex-wrap;
    gap: $gap;
}

@mixin text-styles($font-weight: $font-weight-400, $font-size: $font-size-16, $text-align: left, $text-color: $text-color) {
    font-family: "Montserrat", sans-serif;
    font-weight: $font-weight;
    font-size: $font-size;
    text-align: $text-align;
    color: $text-color;
}

// ---------------------------------- Extend/Inheritance ----------------------------------

%flex-center {
    @include flex-property($align-items: center, $justify-content: center);
}

%button-styles {
    @include text-styles($font-weight: $font-weight-500, $text-align: center, $text-color: #400000);
    letter-spacing: 1px;
    background-color: $orange-color;
    border-color: $orange-color;
    border-radius: 5px;
    padding: 5px 8px;
    cursor: pointer;

    &:focus,
    &:hover {
        background-color: rgb(255, 120, 0, 0.5);
    }
}



// --------------------------------------- Common ---------------------------------------

#root {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: $font-size-16;
    color: $text-color;
    background-color: $background-color;
    height: 100vh;
}

a {
    color: $brown-color;
}

// --------------------------------------- Header ---------------------------------------

header {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: space-around;
    $align-items: center;

    background-color: $second-background-color;
    min-height: 120px;
    box-sizing: border-box;
    padding: 20px;

    a {
        @include text-styles($font-weight: $font-weight-700, $font-size: $font-size-20, $text-color: $brown-color);
        @include flex-property($align-items: center);

        .cocktail-icon {
            width: 50px;
            height: 50px;
        }
    }

    .search-container {
        @include flex-property($gap: 20px, $align-items: center);

        input {
            @include text-styles($text-align: center);
            width: 280px;
            box-sizing: border-box;
            padding: 5px 8px;
        }

        button {
            @extend %button-styles;
        }
    }

    .cart-container {
        position: relative;
        @include flex-property($justify-content: flex-end);

        .fa-shopping-cart {
            font-size: 28px;
            color: $text-color;
            cursor: pointer;

            &:focus,
            &:hover {
                color: #400000;
            }
        }

        .bubble-icon {
            @include flex-property($align-items: center, $justify-content: center);

            background-color: rgb(255, 120, 0, 0.85);
            min-width: 25px;
            height: 25px;
            border-radius: 50%;

            position: absolute;
            top: -15px;
            right: -15px;

            span {
                @include text-styles($font-weight: $font-weight-700, $text-color: #400000);
            }
        }
    }
}

// ---------------------------------------- Main ----------------------------------------

main {
    min-height: calc(100vh - 240px);
    background-color: $background-color;
    padding: 40px 20px;
}

// ------------------------------ Main Page ------------------------------

.main-page {
    @include flex-property($gap: 50px, $flex-direction: column, $align-items: center, $justify-content: center);

    h1 {
        @include text-styles($font-weight: $font-weight-700, $font-size: $font-size-30, $text-align: center, $text-color: $brown-color);
    }

    .random-cocktail {
        @include flex-property($gap: 30px, $flex-direction: column, $align-items: center);

        border: 2px solid $brown-color;
        border-radius: 10px;
        padding: 20px;
        position: relative;

        .recommendation-label {
            @include flex-property($justify-content: center);

            background-color: #DE3163;
            padding: 10px;
            position: absolute;
            top: 5px;
            right: 8px;
            left: 8px;
            border-radius: 10px;

            span {
                @include text-styles($font-weight: $font-weight-600, $font-size: $font-size-18, $text-align: center, $text-color: $white-color);
            }
        }

        a {
            margin-top: 30px;
        }

    }
}

.cocktail-information {
    img {
        width: 400px;
        border-radius: 10px;
    }

    h2 {
        @include text-styles($font-weight: $font-weight-600, $font-size: $font-size-24, $text-align: center, $text-color: $brown-color);
        margin: 20px 0;
    }

    .cocktail-details {
        @include flex-property($gap: 20px, $flex-direction: column);

        h3 {
            @include text-styles($font-weight: $font-weight-500, $font-size: $font-size-20, $text-align: center);
        }

        p {
            @include text-styles($font-size: $font-size-18);

            span {
                font-weight: $font-weight-500;
            }
        }
    }
}

.order-button {
    @extend %button-styles;
    font-size: $font-size-18;
}

// --------------------------------------- Footer ---------------------------------------

footer {
    @include flex-property($align-items: center, $justify-content: center);
    background-color: $second-background-color;
    min-height: 120px;
    box-sizing: border-box;
    padding: 20px;

    ul {
        @include flex-property($gap: 30px, $flex-wrap: wrap);
        @include text-styles($font-weight: $font-weight-600, $font-size: $font-size-20, $text-color: $brown-color);
    }
}

// --------------------------------------- Adaptive Header ---------------------------------------

@media (max-width:768px) {
    header {
        grid-template-columns: auto auto;
        gap: 30px;

        .search-container {
            grid-area: 2 / 1 / span 1 / span 2;
            justify-self: center;
        }
    }

    .main-page {
        h1 {
            font-size: 28px;
        }

    }

    .cocktail-information {
        img {
            width: 300px;
        }

    }
}

@media (max-width:425px) {
    header {
        .search-container {
            flex-direction: column;
        }
    }

    .cocktail-information {
        img {
            width: 250px;
        }

    }
}